/*WebPage by ItzSelenux-->*/
body{background: #303030; color: #ffffff}

    * {padding:0px; margin:0px; font-family: sans-serif;}
    #header
    {margin:auto;}
ul, ol
    {list-style:none;}
.nav
    {width:100%; background:#303030; height:40px;}

.nav li a
    {background-color:#303030;color:#ffffff;
    text-decoration:none; padding:10px 16px; display:block;}

.nav li a:hover
    {background-color:#303030; color: #fed136}

.nav >li
    {float:right;}

.nav li ul
    {display:none; position:absolute; min-width:120px;}

.nav li:hover > ul
    {display:block;}

th, td
{padding: 15px;}

input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input:focus {
  outline: none;
  border-color: #fed136;
  box-shadow: 0 0 8px #fed136;
}
