<link rel="stylesheet" href="css.css">
<div id="header">
    <ul class="nav" border: 1px solid white;>

        <li><a href="../about.html">Acerca De</a>
        <li><a href="https://loc-os.sourceforge.io" target="_blank" rel="noopener noreferrer">Loc-OS</a>
          <li><a>RAW index</a><ul>

            <li><a href="../raw64.html">64 Bits</a>
            <li><a href="../raw32.html">32 Bits</a>
            </ul>

        <li><a href="../Categorias.html">Categorias</a><ul>

            <li><a href="../util.html">Utilidades</a>
            <li><a href="../games.html">Juegos</a>
            <li><a href="../sh.html">Terminal</a>
            <li><a href="../web.html">Internet</a>
            <li><a href="../build.html">LPKGBUILD</a>
            <li><a href="../32.html">32 Bits</a>
            <li><a href="../all.html">Todos</a>
            </ul>

        <li><a href="../index.html">Inicio</a>
        </ul>